.footer {
  /* position: fixed;
  bottom: 0;
  left: 0;
  height: "60px";
  width: "100%"; */
}

.footer-option {
  color: black !important;
  padding: 6px 0px 8px !important;
  min-width: 68px !important;
}

.selected-footer-option {
  color: red !important;
  padding: 6px 0px 8px !important;
  min-width: 68px !important;
}

.wishlist-modal-wrapper {
  position: fixed;
  top: 30vh;
  height: 30vh;
  width: 100vw;
  z-index: 100;
}
.wishlist-modal {
  width: 80vw;
  height: auto;
  /* padding-top: 2vw; */
  padding-bottom: 2vw;
  border-radius: 12px;
  font: normal normal bold 20px/26px Encode Sans;
  background-color: #f4f4f5;
  z-index: 100;
}

.close-modal-wishlist {
  position: absolute;
  right: 12vw;
  top: 0.5vh;
  cursor: pointer;
  background: white;
  font-size: 30px !important;
  border-radius: 10px;
  z-index: 101;
}

.wishlist-modal-header {
  height: 8vh;
  background-color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishlist-items-wrapper {
  background-color: #f4f4f5;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 0vh;
  padding-bottom: 2vh;
  height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wishlist-item {
  height: 10vh;
  background: white;
  position: relative;
  border-radius: 10px;
  margin-top: 2vh;
}

.wishlist-item-image {
  background-color: #675337;
  border-radius: 10px;
}

.wishlist-item-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.remove-wishlist-item {
  position: absolute;
  right: 1vw;
  top: 0.5vh;
  cursor: pointer;
  color: red;
  font-size: 20px !important;
  border-radius: 10px;
  z-index: 102;
}

.wishlist-modal-footer {
  padding-top: 1vh;
  background-color: #f4f4f5;
}

.wishlist-modal-footer button {
  background: white !important;
}

.bottom-nav button {
  /* min-width: 3vw !important; */
  width: 30px;
  min-width: 30px;
  padding: 0px 0px 0px 10px;
}
