/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    max-width: 992px !important;
    margin: auto !important;
  }

  .assistant-center-modal-wrapper {
    display: none !important;
  }

  .popup-overlay {
    display: none !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    max-width: 992px !important;
    margin: auto !important;
  }

  .assistant-center-options-modal-wrapper {
    display: none !important;
  }
}

.color-bar-section {
  /* height: 50vh; */
  background: white;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 2vh;
}
.color-bar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal bold 17.5px/24px Encode Sans;
}

.color-bar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: normal normal bold 16px/24px Encode Sans;
}

.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-row div {
  margin-left: 0.7vw;
}

.second-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-row div {
  margin-left: 0.7vw;
}

.third-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-row div {
  margin-left: 0.7vw;
}

.fourth-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourth-row div {
  margin-left: 0.7vw;
}

.fifth-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fifth-row div {
  margin-left: 0.7vw;
}

.color {
  position: relative;
  width: 35px;
  height: 25.21px;
  /* background-color: #66300d; */
  margin: 10px 0;
}

.color:before,
.color:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 17.5px solid transparent;
  border-right: 17.5px solid transparent;
}

.color:before {
  bottom: 100%;
  /* border-bottom: 10px solid #66300d; */
}

.color:after {
  top: 100%;
  width: 0;
  /* border-top: 10px solid #66300d; */
}

.coming-soon-modal-wrapper {
  position: fixed;
  top: 30vh;
  height: 30vh;
  width: 83vw;
  z-index: 100;
  /* padding-left: 5vw;
  padding-right: 5vw; */
  /* overflow-y: scroll; */
}
.coming-soon-modal {
  /* position: fixed;
  bottom: 0; */
  width: 60vw;
  height: 30h;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-radius: 12px;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  font: normal normal bold 20px/26px Encode Sans;

  /* 
  width: 100vw; */
  background-color: white;
  z-index: 100;
  /* overflow-y: scroll; */
}

.close-modal-coming-soon {
  position: absolute;
  right: 12vw;
  top: 0.5vh;
  cursor: pointer;
  background: white;
  font-size: 30px !important;
  border-radius: 10px;
}

/* .MuiCardActions-root-76 {
  display: flex;
  padding: 0px 0px !important;
  box-sizing: border-box;
  align-items: center;
} */
/* 
.home-page-categories div {
  font: bold 17px / 20px "Encode Sans";
  letter-spacing: 3px;
  color: rgb(88, 88, 88);
} */

.card-style {
  border-radius: 0px !important;
}

/* assistant first */
.assistant-center-modal-wrapper {
  position: fixed;
  top: 18vh;
  left: 5vw;
  z-index: 100;
  border-width: 0.5px;
}
.assistant-center-modal {
  width: 90vw;
  height: 30h;
  padding-top: 2vw;
  padding-bottom: 3vw;
  font: normal normal bold 20px/26px Encode Sans;
  background-color: white;
  z-index: 100;
}

.close-modal-assistant-center {
  position: absolute;
  right: 1vw;
  top: 0.5vh;
  cursor: pointer;
  background: white;
  font-size: 30px !important;
  border-radius: 10px;
}

.content-inline {
  display: inline-flex;
}

.assistant-center-modal-text {
  font: normal normal bold 12px/20px Encode Sans;
  color: #585858;
  line-height: 8vw;
  font-weight: 800;
  width: 68vw;
  padding-left: 3vw;
}

.assistant-center-modal-image img {
  max-width: unset !important;
  width: 45vw;
  margin-left: -15vw;
  margin-top: -3vh;
}

.assistant-center-modal-options {
}

.assistant-center-modal-options div {
  background-color: #656565;
  border-radius: 40px;
  color: white;
  font: normal normal bold 10px/15px Encode Sans;
  margin-top: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  justify-content: center;
  width: 80vw;
  font-weight: bolder;
}

/* assistant second */
.exploration {
  bottom: 0vh !important;
  right: 5vw !important;
  /* overflow-y: scroll;
  overflow-x: hidden; */
}

.exploration .assistant-bottom-right-modal {
  height: 50vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.assistant-bottom-right-modal-wrapper {
  position: fixed;
  bottom: 10vh;
  right: 2vw;
  z-index: 100;
  border-width: 0.5px;
  /* z-index: inherit; */
}
.assistant-bottom-right-modal {
  width: 90vw;
  padding-top: 2vw;
  padding-bottom: 3vw;
  font: normal normal bold 20px/26px Encode Sans;
  background-color: white;
  z-index: 100;
}

.close-modal-assistant-bottom-right {
  position: absolute;
  right: 1vw;
  top: 0.5vh;
  cursor: pointer;
  background: white;
  font-size: 30px !important;
  border-radius: 10px;
}

.content-inline {
  display: inline-flex;
}

.assistant-bottom-right-modal-text {
  font: normal normal bold 12px/20px Encode Sans;
  color: #585858;
  line-height: 8vw;
  font-weight: 800;
  width: 75vw;
  padding-left: 3vw;
}

.assistant-bottom-right-modal-image {
  height: 5vh;
}

.assistant-bottom-right-modal-image img {
  max-width: unset !important;
  width: 50px;
  margin-left: -10vw;
  margin-top: -1vh;
}

.assistant-bottom-right-modal-options {
  display: inline-flex;
  width: 90vw;
}

.assistant-bottom-right-modal-options div {
  background-color: #656565;
  border-radius: 40px;
  color: white;
  font: normal normal bold 10px/15px Encode Sans;
  width: 40vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 3vw;

  /* font: normal normal bold 10px/15px Encode Sans;
  margin-top: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  justify-content: center;
  width: 80vw;
  font-weight: bolder; */
}

.assistant-bottom-right-modal-wrapper a {
  color: unset !important;
}

/* center options modal */
.assistant-center-options-modal-wrapper {
  position: fixed;
  top: 35vh;
  right: 4.5vw;
  z-index: 100;
  border-width: 0.5px;
}
.assistant-center-options-modal {
  width: 90vw;
  padding-top: 2vw;
  padding-bottom: 3vw;
  font: normal normal bold 20px/26px Encode Sans;
  background-color: white;
  z-index: 100;
}

.close-modal-assistant-center-options {
  position: absolute;
  right: 1vw;
  top: 0.5vh;
  cursor: pointer;
  background: white;
  font-size: 30px !important;
  border-radius: 10px;
}

.content-inline {
  display: inline-flex;
}

.assistant-center-options-modal-text {
  font: normal normal bold 12px/20px Encode Sans;
  color: #585858;
  line-height: 8vw;
  font-weight: 800;
  width: 75vw;
  padding-left: 3vw;
}

.assistant-center-options-modal-image {
  height: 5vh;
}

.assistant-center-options-modal-image img {
  max-width: unset !important;
  width: 54vw;
  margin-left: -24vw;
  margin-top: 1vh;
}

.assistant-center-options-modal-options {
  /* display: inline-flex; */
  width: 90vw;
}

.assistant-center-options-modal-options div {
  background-color: #656565;
  border-radius: 40px;
  color: white;
  font: normal normal bold 10px/15px Encode Sans;
  width: 40vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 3vw;
  margin-top: 2vh;

  /* font: normal normal bold 10px/15px Encode Sans;
  margin-top: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  justify-content: center;
  width: 80vw;
  font-weight: bolder; */
}

.auth-modal-body {
  overflow-y: scroll;
  height: 50vh;
}

.row {
  margin-right: -13px !important;
}

.popup-overlay {
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0, 0.6);
  top: 0;
  z-index: 1000;
}

.selected-color {
  text-align: -webkit-right;
}

.exploration-selected p {
  float: right;
  font-size: 14px;
  color: white;
  width: 40vw !important;
  background: #e64d36;
  padding: 1 1 1 1;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5;
  border-radius: 18px;
  margin-right: 1vw;
  text-align: center;
}
/* 
.MuiPaper-root-10 {
  transform: unset !important;
}

.MuiPaper-elevation16-28 {
  transform: unset !important;
}

.MuiDrawer-paper-61 {
  transform: unset !important;
}

.MuiDrawer-paperAnchorLeft-62 {
  transform: unset !important;
} */

.drw-wrap div {
  /* background: red; */
  transform: unset !important;
}

.design-actions {
  width: 98vw !important;
  padding-left: 2vw;
  padding-right: 2vw;
}

.design-actions-wrapper {
  margin-top: 1vh;
}

.design-actions div {
  display: table-caption !important;
  margin: auto !important;
  text-align: center !important;
  /* padding-bottom: 1vh !important; */
}

.design-action {
  padding-left: 0vw !important;
  padding-right: 0vw !important;
}

.design-action img {
  margin: auto !important;
}
.design-action span {
  font-size: 8px;
}

.title {
  padding-left: 4vw;
  font-size: 14px !important;
}

a {
  color: #44444e !important;
}

.loader-wrp {
  position: absolute;
  top: 4vh;
  z-index: 2;
}

.e-cat1 {
  display: inline-block;
  font-size: 0.65rem;
  color: #585858;
  width: 85vw;
}

.e-cat1 a {
  font-weight: 400;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  letter-spacing: 2px;
  font-size: 1em;
  text-transform: uppercase;
}

.e-cat1 img {
  height: 16px;
  margin-right: 10px;
}

.flg a {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  letter-spacing: 2px;
  font-size: 1em;
}

.flg img {
  border: thin solid #b7b7b7;
  margin-left: 6px;
  padding: 1px;
  height: auto;
  width: 24px;
  margin-right: 0;
}

.menuicon__bar {
  fill: none;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
}

.menuicon {
  color: #585858;
}

.menu-btn {
  width: 25vw;
  padding-left: 15px;
}

.MainLogoMobile {
  width: 50vw;
}

.MainLogoMobile img {
  width: 130px;
  margin: auto;
}

.chat-bot {
  width: 25vw;
  margin: auto;
}

.chat-bot p {
  font-size: 9px;
  margin: auto;
  text-align: center;
}

.items .item {
  width: 90px !important;
  margin-top: 10px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  max-width: 90px !important;
}

.drawer h6 {
  font-size: 0.8rem;
  /* color: red; */
  letter-spacing: 0.12rem;
  font-weight: bolder;
}

/* .drw-wrap div {
  background-color: #f3f3f3;
} */

.drw-wrap-1 {
  height: 100%;
}
