.e-cat {
  color: red;
  margin-left: 15vw;
  font-size: 15px;
  z-index: 2;
}

.top-toolbar {
  display: inline-flex;
}

.nav-bar .MuiListItem-root-125 {
  color: yellow;
}

.nav-bar-splash {
  background: #faf8ff !important;
  border-bottom-width: 0px !important;
}

.nav-bar {
  background: #efeeee !important;
}

#menu-icon {
  color: #585858;
}
