/* The heart of the matter */

.category-dropdown-wrapper {
  position: fixed;
  bottom: 0;
  height: 50vh;

  width: 100vw;
  /* background-color: white; */
  z-index: 100;
  overflow-y: scroll;
}
.category-dropdown {
  /* position: fixed;
  bottom: 0; */
  height: 50vh;
  /* 
  width: 100vw; */
  background-color: white;
  z-index: 100;
  overflow-y: scroll;
}

.category-name {
  height: 8vh;
  display: flex;
  align-items: center;
  font: normal normal bold 19px/33px Encode Sans;
  letter-spacing: -0.46px;
  color: #585858;
  opacity: 1;
  padding-left: 2vw;
  padding-right: 2vw;
  background: #f4f4f4;
  cursor: pointer;
}

.category-option {
  height: 5vh;
  display: flex;
  align-items: center;
  font: normal normal bold 14px/33px Encode Sans;
  letter-spacing: -0.34px;
  color: #585858;
  opacity: 1;
  background-color: #fbfbfb;
  opacity: 1;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 1vh;
  cursor: pointer;
}

.close-dropdown {
  /* float: right;
  margin-bottom: 1vw; */
  position: absolute;
  right: 3vw;
  top: 2vh;
  cursor: pointer;
}

.scrollmenu {
  background-color: #f4f4f4;
  overflow: auto;
  white-space: nowrap;
}

.filter-icon-div {
  display: inline-block;
  color: black;
  text-align: center;
  /* margin-top: 1vh; */
  padding-top: 2.4vh;
  padding-bottom: 0.6vh;
  padding-left: 2vw;
  padding-right: 0.5vw;
  text-decoration: none;
  cursor: pointer;
  /* background: white 0% 0% no-repeat padding-box; */
  /* border: 1px solid #70707038; */
  /* border-radius: 15px; */
  margin-left: 1vw;
  height: 4vh;
  font: normal normal bold 13px/15px Encode Sans;
}

.filter-icon {
  /* display: inline-block; */
  /* color: black;
  text-align: center; */
  /* margin-top: 0.8vh; */
  /* padding-top: 0.7vh;
  padding-bottom: 0.6vh;
  padding-left: 2vw;
  padding-right: 0.5vw; */
  /* text-decoration: none;
  cursor: pointer; */
  /* background: white 0% 0% no-repeat padding-box; */
  /* border-right: 1px solid #70707038; */
  /* border-radius: 15px; */
  /* margin-left: 1vw; */
  /* width: 4vw;
  height: 4vh; */
  /* font: normal normal bold 13px/15px Encode Sans; */
}

.scrollmenu-div {
  display: inline-block;
  color: black;
  text-align: center;
  padding-top: 0.6vh;
  padding-bottom: 0.6vh;
  padding-left: 2vw;
  padding-right: 0.5vw;
  text-decoration: none;
  cursor: pointer;
  background: white 0% 0% no-repeat padding-box;
  border: 1px solid #70707038;
  border-radius: 15px;
  margin-left: 1vw;
  height: 4vh;
  font: normal normal bold 13px/15px Encode Sans;
}
/* .scrollmenu div:hover {
  background-color: #777;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollmenu::-webkit-scrollbar {
  display: none;
}

.scrollmenu-filters {
  background-color: #f4f4f4;
  /* padding-top: 1vh;
  padding-bottom: 1vh; */
  /* background-color: grey; */
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu-filters div {
  display: inline-block;
  color: white;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;

  text-decoration: none;
  cursor: pointer;
  background: #585858 0% 0% no-repeat padding-box;
  border: 0px solid #000000;
  border-radius: 13px;
  margin-left: 1vw;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
/* .scrollmenu-filters div:hover {
  background-color: #777;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollmenu-filters::-webkit-scrollbar {
  display: none;
}

.scrollmenu-filters {
  /* padding-top: 0vh !important; */
}

.remove-filter-icon {
  color: red;
  margin-left: 5px;
  font-size: 18px !important;
}

.design-actions-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design-actions {
  width: 80vw;
  background: #f5f5f5;
  height: 62px;
  border-radius: 25px;
}

.design-action {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px;
  border: 3px solid green; */
}

.like-icon {
  width: 25px;
  height: 25px;
}

.wishlist-icon {
  width: 25px;
  height: 25px;
}

.zoom-in-icon {
  width: 25px;
  height: 25px;
}

.view-details-icon {
  width: 25px;
  height: 25px;
}

.design-section {
  margin-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.design-section .title {
  font: normal normal bold 14px/14px Encode Sans !important;
}

.view-details-dropdown-wrapper {
  position: fixed;
  bottom: 0;
  height: 80vh;

  width: 100vw;
  /* background-color: white; */
  z-index: 100;
  overflow-y: scroll;
}
.view-details-dropdown {
  /* position: fixed;
  bottom: 0; */
  height: 80vh;
  /* 
  width: 100vw; */
  background-color: white;
  z-index: 100;
  overflow-y: scroll;
}

.design-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design-image {
  width: 50%;
  margin: auto;
  padding-top: 1vh;
  /* justify-content: center;
  align-items: center;
  background: red; */
}

.subcategory-dropdown {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
}

.subcategory-title {
  background: grey;
  padding-left: 2vw;
  height: auto;
  font-size: 18px;
  display: inline-flex;

  align-items: center;
}

.subcategory-table {
  padding-left: 1vw;
  padding-right: 1vw;
  border: 1px solid grey;
}

.view-details-footer {
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 2vh;
}

.zoom-in-modal-wrapper {
  position: fixed;
  top: 15vh;
  height: 75vh;
  width: 100vw;
  /* background-color: white; */
  z-index: 100;
  /* padding-left: 5vw;
  padding-right: 5vw; */
  /* overflow-y: scroll; */
}
.zoom-in-modal {
  /* position: fixed;
  bottom: 0; */
  height: 75vh;
  /* 
  width: 100vw; */
  background-color: #cccccc;
  z-index: 100;
  /* overflow-y: scroll; */
}

.close-dropdown-zoom-in {
  position: absolute;
  right: 2vw;
  top: 0.5vh;
  cursor: pointer;
  background: transparent;
  font-size: 40px !important;
  border-radius: 35px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.refresh-icon {
  position: absolute;
  left: 7vw;
  bottom: 18vh;
  cursor: pointer;
  background: white;
  font-size: 35px !important;
  border-radius: 35px;
  /* padding: 2vh 2vh 2vh 2vh; */
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.download-icon {
  position: absolute;
  left: 7vw;
  bottom: 11vh;
  cursor: pointer;
  background: white;
  font-size: 35px !important;
  border-radius: 35px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.share-icon {
  position: absolute;
  left: 7vw;
  bottom: 4vh;
  cursor: pointer;
  background: white;
  font-size: 35px !important;
  border-radius: 35px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sign-up-modal-wrapper {
  position: fixed;
  top: 30vh;
  height: 30vh;
  width: 100vw;
  z-index: 100;
  /* padding-left: 5vw;
  padding-right: 5vw; */
  /* overflow-y: scroll; */
}
.sign-up-modal {
  /* position: fixed;
  bottom: 0; */
  width: 60vw;
  height: 30h;
  padding-left: 5vw;
  padding-right: 10vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-radius: 12px;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  font: normal normal bold 20px/26px Encode Sans;

  /* 
  width: 100vw; */
  background-color: white;
  z-index: 100;
  /* overflow-y: scroll; */
}

.close-modal-sign-up {
  position: absolute;
  right: 20vw;
  top: 0.5vh;
  cursor: pointer;
  background: white;
  font-size: 35px !important;
  border-radius: 10px;
}

.auth-modal-wrapper {
  position: fixed;
  top: 25vh;
  height: 30vh;
  width: 100vw;
  z-index: 100;
  /* padding-left: 5vw;
  padding-right: 5vw; */
  /* overflow-y: scroll; */
}
.auth-modal {
  /* position: fixed;
  bottom: 0; */
  width: 80vw;
  height: 30h;
  padding-left: 5vw;
  padding-right: 10vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-radius: 12px;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  font: normal normal bold 17px/26px Encode Sans;

  /* 
  width: 100vw; */
  background-color: white;
  z-index: 100;
  /* overflow-y: scroll; */
}

.close-modal-auth {
  position: absolute;
  right: 12vw;
  top: 0.5vh;
  cursor: pointer;
  background: white;
  font-size: 25px !important;
  border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.auth-modal button {
  background-color: #585858;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.auth-modal button:hover {
  opacity: 0.8;
}

.auth-modal .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.auth-modal .container {
  padding: 16px;
}

.auth-modal span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.selected-auth {
  border-bottom: 5px solid red;
  color: red;
}

.scrollmenu1 {
  background-color: #f4f4f4;
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu1 div {
  display: inline-grid;
  /* color: black;
    text-align: center;
    padding: 010px;
    text-decoration: none;
    cursor: pointer;
    background: white 0% 0% no-repeat padding-box;
    border: 0px solid #000000;
    border-radius: 15px;
    margin-left: 1vw; */
  /* margin-left: 10px; */
}
/* .scrollmenu div:hover {
  background-color: #777;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollmenu1::-webkit-scrollbar {
  display: none;
}

#inspirations {
  width: 98vw !important;
  margin-left: 0vw !important;
  margin-right: 0vw !important;
}

#color {
  width: 98vw !important;
  margin-left: 0vw !important;
  margin-right: 0vw !important;
}

.all-photos-text {
  font: normal normal bold 15px/33px Encode Sans;
  padding-left: 15px;
  letter-spacing: 0.4px;
}

.react-transform-element {
  /* transform: translate(200px, 0px) scale(0.8); */
}

.pan-img-rotated {
  transform: translate(-33%, 0px) scale(0.65) rotate(-90deg);
}

.pan-img {
  transform: translate(-33%, 0px) scale(0.4);
}
