.splash-screen {
  margin-top: 12vh;
  height: 88vh;
  background-color: #faf8ff;
}

.splash-image-wrapper {
  padding-top: 5vh;
}

.splash-image {
}

.splash-content {
  color: #1d247c;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 5vh;
  padding-bottom: 3vh;
}

.splash-content p {
  font-family: system-ui;
  font: normal normal bold 22px/39px system-ui;
}

.splash-button-action button {
  background-color: #4b4b4b;
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 30vw;
  border-radius: 40px;
}

.splash-timeline-wrapper {
  display: inline-flex;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.selected-splash-timeline {
  width: 26px !important ;
  height: 4px !important;
  background-color: #1d2488 !important;
  margin-left: 5px;
  margin-right: 5px;
}

.splash-timeline {
  background-color: grey;
  width: 14px;
  height: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.disabled-btn {
  background-color: grey;
  cursor: not-allowed;
}
