.upcomingCampaignHeader .right .searchWrap input {
  min-width: 77vw;
  color: #00000066;
  font-size: 14px;
}
.upcomingCampaignHeader h1 {
  line-height: 100% !important;
  margin-bottom: 0;
  margin-top: 010px;
}
.upcomingCampaignHeader {
  display: flex;
  line-height: 100%;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  z-index: 999;
  margin-top: 5px;
  left: 12px;
  right: 12px;
}

.right {
  display: flex;
  align-items: center;
}
.right input.form-control {
  margin: 0 15px 0px 0;
}

.searchWrap input.form-control {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.searchWrap {
  border-radius: 100px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 8px #00000026;
  border: 0.5px solid #0000001A;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.search-icon {
  position: absolute;
  margin-top: 8px;  
  margin-left: 10px;
}

.search-input input[type="text"] {
  border: 0px solid #ccc;
  padding: 10px 55px;
  padding-left: 40px;
}

.search-input input::placeholder {
  opacity: 1;
  font-size: 12px;
}

.search-close-icon {
  position: absolute;
  top: 6px;
  right: 10px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 8px #00000026;
  border: 0.5px solid #0000001A;
  padding: 5px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.search-cancel-btn {
  justify-content: center;
  align-items: center;
  align-self: center;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-encode-sans);
  color: var(--unnamed-color-585858);
  text-align: right;
  font: normal normal bold 13px/16px Encode Sans;
  letter-spacing: 0.21px;
  color: #585858;
  opacity: 1;
}